name: GitHub Classroom Workflow

on:
  push:
    branches:
    - '*'
    - '!badges'

jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
           repository: UCLCS0061/Lab05-template
           path: .template
      - name: Copy template test file
        run: cp .template/lab05_test.py ./
      - name: Delete template
        run: rm -rf template/
      - name: install dependencies
        run: pip3 install -r requirements.txt
      - uses: education/autograding@v1
        id: autograder
    outputs:
      grading-score: ${{ steps.autograder.outputs.Points }}
  # job to build custom status badges
  build-badges:
    name: Build Badges
    runs-on: ubuntu-latest
    if: always()
    needs: build
    steps:
      # need to checkout whole repo
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # switch to badges branch
      - run: git checkout badges || git checkout -b badges

      # make dir for badges
      - name: make badges dir
        run: mkdir -p .github/badges

      # create points bar
      - name: make points bar
        uses: markpatterson27/points-bar@v1
        with:
          points: ${{ needs.build.outputs.grading-score }}
          path: '.github/badges/points-bar.svg'

      # commit and push badge if score has changed
      - name: Commit and push badge
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add '.github/badges'
          git commit -m "Add/Update badge" || exit 0
          git push origin badges
